body{
    background-color: #6CA6C1;
}

nav{
    background-color: #2F3061;
    color: #F7FFF7;
    display: flex;
    justify-content: space-evenly;
    margin-top: 0px;
}

nav > a{
    color: inherit;
}

nav > a:hover{
    color: #FFE66D;
}

.centered{
    display: flex;
    align-items: center;
    flex-direction: column;
}

.images > img{
    width: 300px;
    height: 400px;
}